BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 140
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: true
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
BreakConstructorInitializers: BeforeComma
