[submodule "external/abieos"]
	path = external/abieos
	url = https://github.com/EOSIO/abieos.git
[submodule "external/fc"]
	path = external/fc
	url = https://github.com/EOSIO/fc.git
[submodule "external/appbase"]
	path = external/appbase
	url = https://github.com/EOSIO/appbase.git
[submodule "external/libpqxx"]
	path = external/libpqxx
	url = https://github.com/jtv/libpqxx.git
[submodule "external/rocksdb"]
	path = external/rocksdb
	url = https://github.com/facebook/rocksdb.git
