[submodule "external/abieos"]
	path = external/abieos
	url = https://github.com/EOSIO/abieos.git
[submodule "external/fc"]
	path = external/fc
	url = https://github.com/EOSIO/fc.git
[submodule "external/appbase"]
	path = external/appbase
	url = https://github.com/EOSIO/appbase.git
[submodule "external/eos-vm"]
	path = external/eos-vm
	url = https://github.com/EOSIO/eos-vm.git
[submodule "external/chain-kv"]
	path = external/chain-kv
	url = git@github.com:EOSIO/chain-kv.git
[submodule "external/rocksdb"]
	path = external/rocksdb
	url = https://github.com/facebook/rocksdb.git
